[Unit]
Description= Helloworld App
After=network.target

[Service]
ExecStart=/etc/init.d/helloworld.sh start 
#ExecStop=/etc/init.d/helloworld.sh stop
PIDFile=/var/pid/helloword.pid

[Install]
WantedBy=multi-user.target
